/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles */

@font-face {
    font-family: "Sora";
    src: url('/fonts/Sora-Variable.ttf') format('truetype');
    font-weight: 100 900;
}


body {
    font-family: 'Sora', sans-serif;
    background-color: #4C8C57;
    background-image: url('pausey-background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    text-align: center;
   
}

h1, h2, h3, h4, h5, h6, p {
  color: #000000;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: #Ffffff;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

header {
    display: flex;
    background-color: #D6B370;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border: 10px solid #5A3E25;
    border-radius: 40px;
    min-width: 66vw;
}

.leaderboard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background-color: #5A3E25;
    border: 10px solid #5A3E25;
    border-radius: 40px;
    min-width: 70vw;
}

.leaderboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.grid-row{
    display: grid;
    grid-template-columns: 7% 70% 20%;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}


.leaderboard-grid #rank {
    grid-column: 1;
    color: #000;
    background-color: #E8D5B7;
    border-radius: 50%;
    margin-right: 1rem;
}

.leaderboard-grid #name {
    grid-column: 2;
    color: #000;
    background-color: #E8D5B7;
}

.leaderboard-grid #score {
    grid-column: 3;
    color: #000;
    background-color: #E8D5B7;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    color:#5A3E25;
    text-decoration: none;
    font-size: 9rem;
    transition: transform 0.3s ease;
    display: flex;
}

nav a:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: #D6B370;
    border-radius: 40px;
    min-width: 66vw;
    margin-top: 2rem;
}

footer a {
    color: #000;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: #E8D5B7;
    margin: 0 1rem;
}

footer a:hover {
    background-color: #D6B370;
}

footer p {
    color: #000;
    font-size: 1.5rem;
}



