/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles */

@font-face {
    font-family: "Sora";
    src: url('/fonts/Sora-Variable.ttf') format('truetype');
    font-weight: 100 900;
}



body {
    font-family: 'Sora', sans-serif;
    background-color: #A3C293;
    color: #000000;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    text-align: center;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h2 {
    color: #ffffff;
}

header {
    display: flex;
    background-color: #D6B370;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border: 10px solid #5A3E25;
    border-radius: 40px;
}

.leaderboard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background-color: #5A3E25;
    border-radius: 40px;

}

.leaderboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}

.grid-row{
    display: grid;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}


.leaderboard-grid #rank {
    grid-column: 1;
    color: #000;
    background-color: #E8D5B7;
    border-radius: 50%;
    margin-right: 1rem;
}

.leaderboard-grid #name {
    grid-column: 2;
    color: #000;
    background-color: #E8D5B7;
}

.leaderboard-grid #score {
    grid-column: 3;
    color: #000;
    background-color: #E8D5B7;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    color:#5A3E25;
    text-decoration: none;
    font-size: 9rem;
    transition: transform 0.3s ease;
    display: flex;
}

nav a:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: #D6B370;
    border-radius: 40px;
    min-width: 66vw;
    margin-top: 2rem;
}




/* Media Queries */

/* For screens upto  375px width */

@media (max-width: 375px) {
    h1, h2, h3, h4, h5, h6, p {
        color: #000000;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        color: #ffffff;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .grid-row {
        grid-template-columns: 20% 60% 20%;
        padding: 0rem;
    }

    header {
        min-width: 90vw;
    }

    .leaderboard-body {
        min-width: 95vw;
    }
}

/* For screens between 375px and 768px width */
@media (min-width: 375px) and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6, p {
        color: #000000;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        color: #ffffff;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .grid-row {
        grid-template-columns: 15% 55% 25%;
        padding: 0.1rem;
    }

    header {
        min-width: 90vw;
    }

    .leaderboard-body {
        min-width: 95vw;
    }
}

/* For screens between 768px and 1024px width */

@media (min-width: 768px) and (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6, p {
        color: #000000;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
        color: #ffffff;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    .grid-row {
        grid-template-columns: 10% 70% 20%;
    }

    header {
        width: 85vw;
    }

    .leaderboard-body {
        width: 90vw;
    }
}

/* For screens between 1024px width and 1440px width */

@media (min-width: 1024px) and (max-width: 1440px) {
    h1, h2, h3, h4, h5, h6, p {
        color: #000000;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
        color: #ffffff;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .grid-row {
        grid-template-columns: 6% 75% 20%;
        padding: 1rem;
    }

    header {
        min-width: 70vw;
    }

    .leaderboard-body {
        min-width: 80vw;
    }
}

/* For screens above 1440px width */

@media (min-width: 1440px) {
    h1, h2, h3, h4, h5, h6, p {
        color: #000000;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
        color: #ffffff;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
    }

    .grid-row {
        grid-template-columns: 5% 75% 20%;
        padding: 1rem;
    }

     header {
        min-width: 70vw;
    }

    .leaderboard-body {
        min-width: 80vw;
    }
}